PWS.xsd

<?xml version="1.1"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:simpleType name="hexColourType">
    <xs:union memberTypes="xs:NMTOKEN">
      <xs:simpleType>
	<xs:restriction base="xs:token">
	  <xs:pattern value="#[0-9a-fA-F]{6}"/>
	</xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>

  <xs:complextype name="gradColourType">
    <xs:attribute name="grad_type" type="xs:string"/>
    <xs:attribute name="grad_offset" type="xs:decimal"/>
    <xs:assert test="@grad_offset le 100"/>
    <xs:assert test="@grad_offset ge -100"/>
    <xs:sequence>
      <xs:element name="colour1" type="hexColourType"/>
      <xs:element name="colour2" type="hexColourType"/>
    </xs:sequence>
  </xs:complextype>
    
  <xs:complextype name="colourType">
    <xs:choice>
      <xs:element name="flat" type="hexColourType"/>
      <xs:element name="grad" type="gradColourType"/>
    </xs:choice>
  </xs:complextype>
    
  <xs:complexType name="visualType">
    <xs:attribute name="xstart" type="xs:int" use="optional"/>
    <xs:attribute name="ystart" type="xs:int" use="optional"/>
    <xs:attribute name="xsize_px" type="xs:float" use="optional"/>
    <xs:attribute name="ysize_px" type="xs:float" use="optional"/>
    <xs:attribute name="bg_colour" type="colourType" use="optional"/>
    <xs:attribute name="colour" type="colourType" use="optional"/>
  </xs:complexType>

  
  <xs:element name="metadata">
    <xs:annotation>
      <xs:documenation>
        Metadata section. Contains (at minimum) author and version
      </xs:documenation>
    </xs:annotation>
    
    <xs:complexType>
      <xs:all>
	<element name="author" maxOccurs="1" type="string"/>
	<element name="version" maxOccurs="1" type="string"/>
	<element minOccurs="0" maxOccurs="1" name="comment" type="string"/>
	<xsd:any minOccurs="0"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="presentation">
    <xs:complexType>
      <xs:sequence>
	<xs:any minOccurs="0"/>
	<xs:element maxOccurs="unbounded" name="visualBase">
	  <xs:sequence minOccurs="0" maxOccurs="unbounded">
	    <xs:annotation>
              <xs:documentation>
		Base visual object for presentation.
              </xs:documentation>
            </xs:annotation>
	    
	    <xs:attribute name="name" type="string">
              <xs:annotation>
		<xs:documentation>
                  Object name.
		</xs:documentation>
              </xs:annotation>
            </xs:attribute>
	    
            <xs:element name="text">
              <xs:complexType mixed="true">
		<xs:annotation>
		  <documentation>
                    Text to be displayed.
		  </documentation>
		</xs:annotation>
		<xs:sequence>
		  <xs:attribute name="font" type="xs:string"/>
		  <xs:attribute name="fontsize" type="xs:string"/>
		  <xs:attribute name="fontcolor" type="xs:string"/>
		  <xs:choice minOccurs="0" maxOccurs="unbounded">
		    <xs:element name="bold" type="xs:boolean"/>
		    <xs:element name="italic" type="xs:boolean"/>
		    <xs:element name="link" type="xs:string">
		      <xs:attribute name="ref" type="xs:string"/>
		      <xs:attribute name="ref_type">
			<xs:simpleType>
			  <xs:restriction base="xs:string">
			    <xs:enumeration value="internal"/>
			    <xs:enumeration value="external"/>
			  </xs:restriction>
			</xs:simpleType>
		      </xs:attribute>
		  </xs:choice>
		  
		</xs:sequence>
	      </xs:complexType>
            </xs:element>
	  </xs:sequence>
	</xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
