PWS.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="metadata">
    <xs:annotation>
      <xs:documenation>
        Metadata section. Contains (at minimum) author and version
      </xs:documenation>
    </xs:annotation>
    
    <xs:complexType>
      <xs:all>
	<element name="author" maxOccurs="1" type="string"/>
	<element name="version" maxOccurs="1" type="string"/>
	<element minOccurs="0" maxOccurs="1" name="comment" type="string"/>
	<xsd:any minOccurs="0"/>
      </xs:all>
    </xs:complexType>
    
  </xs:element>
  
  <xs:element name="presentation">
    <xs:complexType>
      <xs:sequence>
	<xs:any minOccurs="0"/>
	<xs:element maxOccurs="unbounded" name="visualBase">
	  <xs:sequence minOccurs="0" maxOccurs="unbounded">
	    <xs:annotation>
              <xs:documentation>
		Base visual object for presentation.
              </xs:documentation>
            </xs:annotation>
	    
	    <xs:attribute name="name" type="string">
              <xs:annotation>
		<xs:documentation>
                  Object name.
		</xs:documentation>
              </xs:annotation>
            </xs:attribute>
            
            <xs:element name="text" type="string">
		<xs:annotation>
		  <documentation>
                    Text to be displayed
		  </documentation>
		</xs:annotation>
		<xs:type>
		  <attribute name="font" type="string"/>
		  <attribute name="fontsize" type="string"/>
		  <attribute name="fontcolor" type="string"/>
		  <attribute name="xstart" type="int"/>
		  <attribute name="ystart" type="int"/>
		  <attribute name="starttime" type="int"/>
		  <attribute name="endtime" type="int"/>
		  <element name="b" type="string">
                    <annotation>
                      <info>
			Encapsulates bold text
                      </info>
                    </annotation>
		  </element>
		  <element name="i" type="string">
                    <annotation>
                      <info>
			Encapsulates italicised text
                      </info>
                    </annotation>
		  </element>
		</type>
              </element>
              <element name="line">
		<annotation>
		  <info>
                    Line to be displayed.
		  </info>
		</annotation>
		<type>
		  <attribute name="xstart" type="int"/>
		  <attribute name="ystart" type="int"/>
		  <attribute name="xend" type="int"/>
		  <attribute name="yend" type="int"/>
		  <attribute name="linecolor" type="string"/>
		  <attribute name="starttime" type="int"/>
		  <attribute name="endtime" type="int"/>
		</type>
              </element>
              <element name="shape">
		<annotation>
		  <info>
                    Shape to be displayed.
		  </info>
		</annotation>
		<type>
		  <attribute name="type" type="'oval'|'rectangle'"/>
		  <attribute name="xstart" type="int"/>
		  <attribute name="ystart" type="int"/>
		  <attribute name="width" type="int"/>
		  <attribute name="height" type="int"/>
		  <attribute name="fillcolor" type="string"/>
		  <attribute name="starttime" type="int"/>
		  <attribute name="endtime" type="int"/>
		  <element name="shading">
                    <annotation>
                      <info>
			If present, specifices a gradient fill. Parameters are as described in java.awt.GradientPaint
                      </info>
                    </annotation>
                    <type>
                      <attribute name="x1" type="int"/>
                      <attribute name="y1" type="int"/>
                      <attribute name="color1" type="string"/>
                      <attribute name="x2" type="int"/>
                      <attribute name="y2" type="int"/>
                      <attribute name="color2" type="string"/>
                      <attribute name="cyclic" type="'true'|'false'"/>
                    </type>
		  </element>
		</type>
              </element>
              <element name="audio">
		<annotation>
		  <info>
                    Sound to be played, either .wav or .au
		  </info>
		</annotation>
		<type>
		  <attribute name="urlname" type="string"/>
		  <attribute name="starttime" type="int">
                    <annotation>
                      <info>
			Number of seconds audio should start playing after slide is loaded.
                      </info>
                    </annotation>
		  </attribute>
		  <attribute name="loop" type="boolean">
                    <annotation>
                      <info>
			Whether the audio should loop for the current slide - loop if set to true.
                      </info>
                    </annotation>
		  </attribute>
		</type>
              </element>
              <element name="image">
		<annotation>
		  <info>
                    Image to be displayed, either GIF or JPEG
		  </info>
		</annotation>
		<type>
		  <attribute name="urlname" type="string"/>
		  <attribute name="xstart" type="int"/>
		  <attribute name="ystart" type="int"/>
		  <attribute name="width" type="int"/>
		  <attribute name="height" type="int"/>
		  <attribute name="starttime" type="int"/>
		  <attribute name="endtime" type="int"/>
		</type>
              </element>
              <element name="midi">
		<annotation>
		  <info>
                    MIDI file to be played.
		  </info>
		</annotation>
		<type>
		  <attribute name="urlname" type="string"/>
		  <attribute name="starttime" type="int">
                    <annotation>
                      <info>
			Number of seconds audio should start playing after slide is loaded.
                      </info>
                    </annotation>
		  </attribute>
		  <attribute name="loop" type="boolean">
                    <annotation>
                      <info>
			Whether the audio should loop for the current slide - loop if set to true.
                      </info>
                    </annotation>
		  </attribute>
		</type>
              </element>
              <element name="video">
		<annotation>
		  <info>
                    Video to be played.
		  </info>
		</annotation>
		<type>
		  <attribute name="urlname" type="string"/>
		  <attribute name="starttime" type="int">
                    <annotation>
                      <info>
			Number of seconds video should start playing after slide is loaded.
                      </info>
                    </annotation>
		  </attribute>
		  <attribute name="loop" type="boolean">
                    <annotation>
                      <info>
			Whether the video should loop for the current slide - loop if set to true.
                      </info>
                    </annotation>
		  </attribute>
		  <attribute name="xstart" type="int"/>
		  <attribute name="ystart" type="int"/>
		</type>
              </element>
            </type>
	  </xs:sequence>
	</element>
	<xs:sequence>
	</type>
      </element>
    </schema>
